$debug: false;
$contactsDiameter: 30px;
$messageIcoWidth: 35px;
$messageTimeWidth: 65px;
$messageSepWidth: 65px;
$mobileWidth: 700px;

@mixin offButtonEffects{
  border: none;
  outline: none;
  background: none;
}

@mixin centeringDivInside{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin horizontalCenteringDiv{
  width: 50%;
  margin: 0 auto;
}

